.wrapper {
  display: grid;
  font-size: 35px;
  border: black 2px solid;
  background-color: rgb(7, 7, 7);
  gap: 1px;
  /* padding: 1px; */
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "a8 b8 c8 d8 e8 f8 g8 h8"
                       "a7 b7 c7 d7 e7 f7 g7 h7"
                       "a6 b6 c6 d6 e6 f6 g6 h6"
                       "a5 b5 c5 d5 e5 f5 g5 h5"
                       "a4 b4 c4 d4 e4 f4 g4 h4"
                       "a3 b3 c3 d3 e3 f3 g3 h3"
                       "a2 b2 c2 d2 e2 f2 g2 h2"
                       "a1 b1 c1 d1 e1 f1 g1 h1";
  
  /* grid-auto-rows: minmax(100px, auto); */
  height: 400px;
  width: 400px;
  grid-area: cb;
}


.page {
  display: grid;
  font-size: 35px;
  border: black 2px solid;
  background-color: rgb(7, 7, 7);
  /* gap: 1px; */
  /* padding: 1px; */
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 20% 12% repeat(8, 1fr) 12% 12%;
  grid-template-areas: "nb nb nb nb nb nb nb nb"
                       "sb sb c7 d7 e7 f7 g7 h7"
                       "sb sb cb cb cb cb g6 h6"
                       "sb sb cb cb cb cb g5 h5"
                       "sb sb cb cb cb cb g4 h4"
                       "sb sb cb cb cb cb g3 h3"
                       "sb sb c2 d2 e2 f2 g2 h2"
                       "a1 b1 c1 d1 e1 f1 g1 h1";
  
  /* grid-auto-rows: minmax(100px, auto); */
  height: 100%;
  width: 100%;
}



.black-square {
    font-size: 50px;
    text-align: center;
    background-color: rgb(182, 172, 172);
    z-index: 0;
}
.piece {
  font-size: iem;
    text-align: center;
    z-index: 1;
}

.white-square {
    font-size: 50px;
    text-align: center;
    background-color: white;
    z-index: 0;
}



	p {
	color: blue;
  	/* text-shadow: -5px -5px 0 #fb1, 1px -1px 0 #999, -1px 1px 0 #000, 5px 5px 0 #000; */
	
	font-size: 70px
	

	}

	/* div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
} */


